@media screen and (max-width:992px){
  .header-inner{
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 12px;
    .logo{
        margin-right: 0;
    }
    .menu{
        display: none;
        &-btn{
            display: block;
        }
    }
    .menu-control:checked~.menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
  }
  .works{
    .container-wrap{
        flex-direction: column;
    }
    &-text{
        margin-bottom: 8px;
    }
    .text-content{
        align-items: center;
        flex-wrap: wrap;
    }
  }
  .portfolio{
    .container-wrap{
        flex-wrap: wrap;
    }
    .img, .text{
        width: 100%;
    }
  }
  .service{
    &-items{
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
    &-content{
        a{
            font-size: 16px;
        }
        p{
            font-size: 20px;
        }
    }
  }
  .articles{
    .list{
        flex-direction: column;
        padding: 16px;
    }
  }
  .footer{
    &-content{
        flex-direction: column;
    }
    .contect{
        margin-bottom: 40px;
    }
  }
}