@media screen and (max-width:992px){
  .header-inner{
    justify-content: space-between;
    .logo{
        margin-right: 0;
    }
    .menu{
        display: none;
        &-btn{
            display: block;
        }
    }
    .menu-control:checked~.menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
  }
  .works{
    .container-wrap{
        flex-direction: column;
    }
    &-text{
        margin-bottom: 8px;
    }
    .text-content{
        align-items: center;
        flex-wrap: wrap;
    }
  }
  .service{
    &-items{
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
    &-content{
        a{
            font-size: 16px;
        }
        p{
            font-size: 20px;
        }
    }
  }
  .portfolio{
    .container{
        flex-direction: column;
        align-items: center;
        .text{
            width: 100%;
            bottom: 0;
            margin-right: 0;
            &-content{
                border-radius: 0;
                background-color: #fff;
                align-items: center;
                h2{
                    color: black;
                    text-align: center;
                }
                p{
                    color: $color_gray;
                    text-align: center;
                }
            }
            .tags{
                justify-content: space-around;
            }
        }
    }
    &-finance{
        .overlay{
            width: 0%;
            height: 0%;
        }
    }
  }
  .articles{
    .list{
        flex-direction: column;
        padding: 16px;
    }
  }
  .footer{
    &-content{
        flex-direction: column;
    }
    .contect{
        margin-bottom: 40px;
    }
  }
}