$color_white: #ffffff;
$color_gray: #c1c1c1;

// Flex 置中
@mixin df{
    display: flex;
    justify-content: center;
    align-items: center;
}
// 背景圖片設定
@mixin bg{
    background-repeat: no-repeat;
    background-size: cover;
}
// 圖片處理
@mixin img{
    width: 100%;
    height: auto;
    display: block;
}