@import "_reset.scss";
@import "_variable";
// *{
//     border:1px solid red;
// }
body{
    padding-top: 60px;
    font-family: "Noto Sans TC", "Noto Sans", sans-serif;
}
.header{
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    background-color: $color_white;
    border-bottom: 1px solid #f1f1f1;
    .logo{
        margin-right: 318px;
    }
    &-inner{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .menu{
        display: flex;
        gap: 40px;
    }
    .menu-control,.menu-btn{
        display: none;
    }
}
// 經歷
.works{
    // height: 100vh;
    .container-wrap{
        display: flex;
    }
    .text-content{
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &-text{
        padding-left: 12px;
        h2{
            font-size: 40px;
            line-height: 48px;
            font-weight: bold;
            margin-bottom: 24px;
        }
        p{
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 16px;
        }
        span{
            font-size: 16px;
            line-height: 24px;
            color:$color_gray;
        }
    }
    &-socials{
        margin-top: 60px;
        ul{
            display: flex;
            gap: 16px;
        }
    }
}
// 作品集
.portfolio{
    // background-color: red;
    &-title{
        img{
            height: 6px;
        }
        @include df;
        padding-top: 120px;
        padding-bottom: 80px;
        h2{
            font-size: 32px;
        }      
    }
    .container-wrap{
        display: flex;
        width: 100%;
    }
    &-book{
        background-image: url(../imgs/homepage-work1-bg.png);
        @include bg;
        position: relative;
        height:auto;
        &-content{
            display: flex;
            gap:55px;
            // >div{
            //     width: 50%;
            // }
        }
        img{
            @include img;
            margin-top: 80px;
            margin-bottom: 0;
        }
        .overlay{
            background-color:rgba(73, 69, 69, 0.197);
            position: absolute;
            top: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
        }
    }
    &-aesthetic{
        background-image: url(../imgs/homepage-work3-bg.png);
        @include bg;
        position: relative;
        height: 100vh;
        &-content{
            display: flex;
            // justify-content: space-between;
            gap:55px;
            // >div{
            //     width: 50%;
            // }
        }
        img{
            @include img;
            position: relative;
            z-index: 2;
            margin-top: 80px;
        }
        .overlay{
            background-color:rgba(0, 0, 0, 0.177);
            position: absolute;
            top: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
        }
    }
    &-finance{
        background-image: url(../imgs/homepage-work2-lg.png);
        @include bg;
        position: relative;
        height: 100vh;
        display: flex;
        align-items: center;
        &-content{
            display: flex;
            align-items: center;
            gap:55px;
            // >div{
            //     width: 50%;
            // }
        }
        img{
            @include img;
            position: relative;
            z-index: 2;
            margin-top: 80px;
        }
        .overlay{
            background-color:rgba(0, 0, 0, 0.4);
            position: absolute;
            top: 0;
            z-index: 1;
            width: 50%;
            height: 100%;
        }
    }
    .text{
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        z-index: 2;
        &-content{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 40px;
            background-color: rgba(152, 144, 198, 0.429);
            border-radius: 24px;
        }
        .intro{
            h2{
                color: $color_white;
                font-size: 28px;
                line-height: 33.6px;
                font-weight: 700;
            }
            p{
                color:$color_white;
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
                margin-bottom: 24px;
            }
            .tags{
                display: flex;
                justify-content: flex-start;
                gap: 8px;
                color:$color_black;
                margin-bottom: 40px;
                font-size: 16px;
                li{
                    background-color: $color_white;
                    padding: 4px 12px;
                    border-radius: 16px;
                    line-height: 24px;
                }
            }
            hr{
                margin-bottom: 40px;
            }
            .btn{
                display: flex;
                justify-content: center;
                border: 0;
                z-index: 50;

                &-content{
                    display: flex;
                    align-items: center;
                    background-color: black;
                    color: $color_white;
                    border-radius: 5px;
                    padding: 16px 32px 16px 32px;
                    font-size: 20px;
                    line-height: 30px;
                    font-weight: 700;
                    border: 0;
                    cursor: pointer;
                    &:hover{
                        background-color: blue;
                    }
                    // a{
                    //     color: $color_white;
                    //     font-size: 20px;
                    //     line-height: 30px;
                    //     font-weight: 700;
                    // }
                }
                .material-icons{
                    color: $color_white;
                }
            }
        }
    }
}
// 服務項目
.service{
    background-image: url(../imgs/homepage-services-bg.png);
    &-title{
        img{
            height: 6px;
        }
        @include df;
        padding-top: 120px;
        padding-bottom: 80px;
        h2{
            font-size: 32px;
        }
    }
    &-items{
        display: flex;
        justify-content: space-around;
        gap: 4px;
        li{
            width: 306px;
            height: 306px;
            padding: 20px 30px 20px 30px;
            @include df;
            flex-direction: column;
            background: linear-gradient(to bottom right, #282828 50%, #000000 0);
            color: white;
            border-radius: 16px;
        }
        img{
            margin-bottom: 24px;
        }
    }
    &-content{
        margin-top: 80px;
        margin-bottom: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    p{
        text-align: center;
        font-size: 28px;
        font-weight: 600;
        line-height: 33.6px;
        color: $color_black;
        margin-bottom: 40px;
    }
    .btn{
        display: flex;
        justify-content: center;
        &-content{
            display: flex;
            align-items: center;
            background-color: black;
            border-radius: 5px;
            padding: 16px 32px 16px 32px;
            a{
                color: $color_white;
                font-size: 20px;
                line-height: 30px;
                font-weight: 700;
            }
        }
        .material-icons{
            color: $color_white;
        }
    }
}
// 文章
.articles{
    height: 100vh;
    &-title{
        img{
            height: 6px;
        }
        @include df;
        padding-top: 120px;
        padding-bottom: 80px;
        h2{
            font-size: 32px;
            font-weight: 600;
            line-height: 38.4px;
            letter-spacing: 12%;
        }
    }
    .list{
        display: flex;
        justify-content: space-around;
        gap: 8px;
        &-img{
            height: 200px;
            border-radius: 8px;
            overflow: hidden;
            margin-bottom: 16px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &-text{
            padding: 0 8px;
            li{
                font-weight: 400;
                line-height: 24px;
                padding: 4px 12px;
            }
            h3{
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                margin-bottom: 16px;
            }
            .tag{
                display: flex;
                justify-content: space-between;
            }
            .deco{
                background-color: $color_white;
                border-radius: 16px;
            }
        }
    }
}
// 頁尾
.footer{
    // height: 100vh;
    background-image: url(../imgs/footer-bg-lg.png);
    padding-top: 80px;
    @include bg;
    .contect{
        padding: 20px;
        line-height: 30px;
        font-weight: 400;
        img,p{
            margin-bottom: 24px;
        }
        p{
            font-weight: 400;
        }
        span{
            color: rgba(60, 59, 59, 0.4)
        }

    }
    &-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .socials{
        display: flex;
        flex-direction: column;
        .content-wrap{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 8px;
        }
        .black{
            background-color: black;
            color: $color_white;
        }
        &-content{
            width: 306px;
            height: 72px;
            background-color: $color_white;
            margin-bottom: 24px;
            font-size: 20px;
            border: 1px solid $color_gray;
            border-radius: 8px;
            padding: 8px 24px;
            font-weight: 700;
            cursor: pointer;
        }
    }
}
@import "_rwd.scss"