@import "_reset.scss";
// *{
//     border:1px solid black;
// }
@import "_variable";
.header{
    // position: sticky;
    z-index: 999;
    top: 0;
    background-color: $color_white;
    border-bottom: 1px solid #f1f1f1;
    // height: 96px;
    .container{
        width: 100%;
        max-width: 1296px;
        margin: auto;
        position: relative;
        padding: 32px;
        .logo{
            position: absolute;
            left: 0;
            bottom: 20px;
            margin: auto;
        }
        .menu{
            display: flex;
            justify-content: center;
            gap: 40px;
        }
        .button{
            border: none;
            background: none;
            display: none;
        }
    }
}
.works{
    height: auto;
    @include df;
    &-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 1.5rem;
        h2{
            font-size: 40px;
            line-height: 48px;
            font-weight: bold;
            margin-bottom: 24px;
        }
        p{
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 16px;
        }
        span{
            font-size: 16px;
            line-height: 24px;
            color:$color_gray;
        }
    }
    &-socials{
        margin-top: 60px;
        ul{
            display: flex;
            gap: 16px;
        }
    }
}
.portfolio{
    background-color: red;
    &-title{
        img{
            height: 6px;
        }
        @include df;
        background-color: $color_white;
        padding-top: 120px;
        padding-bottom: 80px;
        h2{
            font-size: 32px;
        }
    }
    .container{
        width: 1296px;
        margin: 0 auto;
    }
    &-book{
        background-image: url(../imgs/homepage-work1-bg.png);
        @include bg;
        img{
            @include img;
        }
        &-content{
            display: flex;
            align-items: center;
            position: relative;
            z-index: 2;
            // min-height: 100vh;
        }
        .content-wrap{
            display: flex;
            width: 100%;
            >div{
                width: 50%;
            }
        }
        .text{
            background: rgba(211, 209, 209, 0.9);
        }
    }
    // .text{
    //     background-color: rgba($color_white,0.9);
    // }
    // &-finance{
    //     background-image: url(../imgs/homepage-work2-lg.png);
    //     @include bg;
    // }
    // &-aesthetic{
    //     background-image: url(../imgs/homepage-work3-bg.png);
    //     @include bg;
    //     >div{
    //         width: 50%;
    //     }
    //     img{
    //         @include img;
    //     }
    // }
}