@import "_reset.scss";
@import "_variable";
// *{
//     border:1px solid red;
// }
.header{
    // position: sticky;
    z-index: 999;
    top: 0;
    background-color: $color_white;
    border-bottom: 1px solid #f1f1f1;
    // height: 96px;
    .container{
        width: 100%;
        max-width: 1296px;
        margin: auto;
        position: relative;
        padding: 32px;
        .logo{
            position: absolute;
            left: 0;
            bottom: 20px;
            margin: auto;
        }
        .menu{
            display: flex;
            justify-content: center;
            gap: 40px;
        }
        .button{
            border: none;
            background: none;
            display: none;
        }
    }
}
// 經歷
.works{
    height: auto;
    display: flex;
    justify-content: space-between;
    &-text{
        display: flex;
        flex-direction: column;
        justify-content:center;
        padding-left: 1.5rem;
        h2{
            font-size: 40px;
            line-height: 48px;
            font-weight: bold;
            margin-bottom: 24px;
        }
        p{
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 16px;
        }
        span{
            font-size: 16px;
            line-height: 24px;
            color:$color_gray;
        }
    }
    &-socials{
        margin-top: 60px;
        ul{
            display: flex;
            gap: 16px;
        }
    }
}
// 作品集
.portfolio{
    // background-color: red;
    &-title{
        img{
            height: 6px;
        }
        @include df;
        background-color: $color_white;
        padding-top: 120px;
        padding-bottom: 80px;
        h2{
            font-size: 32px;
        }
       
    }
    .container{
        width: 1296px;
        margin: 0 auto;
    }
    &-book{
        background-image: url(../imgs/homepage-work1-bg.png);
        @include bg;
        position: relative;
        // min-height: 100vh;
        &-content{
            display: flex;
            gap:55px;
            // >div{
            //     width: 50%;
            // }
        }
        img{
            @include img;
            margin-top: 80px;
            margin-bottom: 0;
        }
        .bgc{
            background-color:rgba(73, 69, 69, 0.197);
            position: absolute;
            top: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
        }
    }
    &-aesthetic{
        background-image: url(../imgs/homepage-work3-bg.png);
        @include bg;
        position: relative;
        min-height: 100vh;
        &-content{
            display: flex;
            // justify-content: space-between;
            gap:55px;
            // >div{
            //     width: 50%;
            // }
        }
        img{
            @include img;
            position: relative;
            z-index: 2;
            margin-top: 80px;
        }
        .bgc{
            background-color:rgba(0, 0, 0, 0.177);
            position: absolute;
            top: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
        }
    }
    &-finance{
        background-image: url(../imgs/homepage-work2-lg.png);
        @include bg;
        position: relative;
        min-height: 100vh;
        display: flex;
        align-items: center;
        &-content{
            display: flex;
            align-items: center;
            gap:55px;
            // >div{
            //     width: 50%;
            // }
        }
        img{
            @include img;
            position: relative;
            z-index: 2;
            margin-top: 80px;
        }
        .bgc{
            background-color:rgba(0, 0, 0, 0.4);
            position: absolute;
            top: 0;
            z-index: 1;
            width: 50%;
            height: 100%;
        }
    }
    .text{
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        z-index: 2;
        &-content{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 40px;
            background-color: rgba(152, 144, 198, 0.429);
            border-radius: 24px;
        }
        .intro{
            h2{
                color: $color_white;
                font-size: 28px;
                line-height: 33.6px;
                font-weight: 700;
            }
            p{
                color:$color_white;
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
                margin-bottom: 24px;
            }
            .tags{
                display: flex;
                justify-content: flex-start;
                gap: 8px;
                color:$color_black;
                margin-bottom: 40px;
                font-size: 16px;
                li{
                    background-color: $color_white;
                    padding: 4px 12px;
                    border-radius: 16px;
                    line-height: 24px;
                }
            }
            hr{
                margin-bottom: 40px;
            }
            .btn{
                display: flex;
                justify-content: center;
                &-content{
                    display: flex;
                    align-items: center;
                    background-color: black;
                    border-radius: 5px;
                    padding: 16px 32px 16px 32px;
                    a{
                        color: $color_white;
                        font-size: 20px;
                        line-height: 30px;
                        font-weight: 700;
                    }
                }
                .material-icons{
                    color: $color_white;
                }
            }
        }
    }
}
// 服務項目
.service{
    background-image: url(../imgs/homepage-services-bg.png);
    &-title{
        img{
            height: 6px;
        }
        @include df;
        background-color: $color_white;
        padding-top: 120px;
        padding-bottom: 80px;
        h2{
            font-size: 32px;
        }
    }
    &-items{
        display: flex;
        gap: 4px;
        li{
            background-color: black;
            border-radius: 5px;
        }
    }
}